@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.App {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calc-wrapper {
  cursor: pointer;
  width: 500px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 10px solid #282c34;
}

.row {
  display: flex;
}

h1 {
  color: #282c34;
  font-size: 35px;
}

@media (max-width: 600px) {
  .calc-wrapper {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .calc-wrapper {
    width: 300px;
  }
}

/* button */
.button-wrapper {
    background-color: #e0e1e6;
    color: #888;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    flex: 1;
    outline: 1px solid #888;
    height: 3.5em;
  }
  
  .operator {
    background-color: #fe9241;
    color: #fff;
  }
  
  .equal-btn {
    background-color: #c5c3cd;
    color: #000000;
  }
  
  .input {
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.6em;
    background-color: #000000;
    color: #fafafa;
    padding: 0.5em;
    outline: 1px solid #888888;
  }

  a {
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    height: 2.5em;
    width: 3.5em;
    color: lightslategrey;
  }

  input[id="result"] {
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.6em;
    background-color: #888;
    color: #fafafa;
    padding: 0.5em;
    outline: 1px solid #888888;
    width: 100%;
  }